<article class="">
  <h2>Pride Cookie Sale this Saturday, June 10th!</h2>
  <p class="footnote">Posted June 9th, 2017</p>
  <p>We are so proud to support and celebrate our LGBTQIA community members! This weekend is Pride Weekend in Boston, and to give back to the community we are hosting a cookie sale all day on Saturday June 10th at the shop. We’re open from 10am to 6pm, and
    all cookies must go!</p>
  <p>Cookies will be donated by local bakeries and baked by workers at Broadway, and the proceeds from each cookie will be donated to <a href="https://www.facebook.com/BostonGLASS.JRI/">Boston GLASS</a> (Gay and Lesbian Adolescent Social Service) which provides counseling and support for queer youth in Boston.
    Last year, we raised enough money to buy two of their youth bikes complete with helmets, locks, and lights. All that thanks to the generosity and support of our incredible community members giving back. Come back again on Saturday to celebrate with
    us this year!</p>
  <p><a href="/blog">See the blog</a></p>
</article>
