<div class="flexitem">
  <ul>
    <li><a href='#'>Services</a></li>
    <li><a href='#'>Stand Rental</a></li>
    <li><a href='#'>Classes</a></li>
    <li><a href='#'>Brompton Sales</a></li>
    <li><a href='#'>Blog</a></li>
  </ul>
</div>
<div class="flexitem">
  <ul class="social-links list--inline">
    <li class="instagram"><a href="http://#"><i class="fa fa-instagram"></i></a></li>
    <li class="facebook"><a href="http://"><i class="fa fa-facebook"></i></a></li>
    <li class="yelp"><a href="http://#"><i class="fa fa-yelp"></i></a></li>
  </ul>
  <p><a href="mailto:broadway@broadwaybicycle.com">broadway@broadwaybicycle.com</a></p>
  <p><a href="mailto:classes@broadwaybicycle.com">classes@broadwaybicycle.com</a></p>
  <p><a href="https://www.google.com/maps/place/Broadway+Bicycle+School/@42.3704856,-71.1056672,16.92z/data=!4m5!3m4!1s0x0:0x4363b979c482338e!8m2!3d42.3704722!4d-71.1035003">351 Broadway,<br>Cambridge MA 02139</a></p>
  <p><a href="tel:+16178683392">(617) 868—3392</a></p>
    <!-- partial:hours.html -->
    <!-- partial -->
</div>
