.ml05 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.mt1-xs {
  margin-top: 2rem;
}

.pl50 {
  padding-left: 0.5rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.mt50 {
  margin-top: 0.50rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt6 {
  margin-top: 6rem;
}


.ml1 {
  margin-left: 1rem;
}


.mb50 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.pa2 {
  padding: 2rem;
}

.pb0 {
  padding-bottom: 0 !important;
}

.ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 4rem;
}

.pt50 {
  padding-top: 0.5rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0 !important;
}
@media screen and (max-width: 42em) {
  .xs-mt1 {
    margin-top: 1rem;
  }

  .xs-mt2 {
    margin-top: 2rem;
  }
}
// @media screen and (--sm-viewport) {
// .sm-mt0 {
// margin-top: 0;
// }
// }
@media screen and (min-width: 60em) {
  .md-mt0 {
    margin-top: 0;
  }

  .md-mt6 {
    margin-top: 6rem;
  }

  .md-mt2 {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 80em) {
  .lg-pr2 {
    margin-right: 2rem;
  }

  .lg-mt0 {
    margin-top: 0;
  }
}

.first-of-type-mt0:first-of-type {
  margin-top: 0;
}
.first-of-type-mt1:first-of-type {
  margin-top: 1rem;
}
