footer
  include map.html
  div(class="row")
    div(class="col col-xs-12 col-sm-6")
      ul(class="social-links list--inline")
        a(href="http://#")
          li(class="instagram") 
            i(class="fa fa-instagram")
        a(href="http://")
          li(class="facebook") 
            i(class="fa fa-facebook")
        a(href="http://#")
          li(class="yelp") 
            i(class="fa fa-yelp")
      ul(class="mt1") 
        li
          a(href="mailto:broadway@broadwaybicycle.com") broadway@broadwaybicycle.com
        li(class="")
          a(href="mailto:classes@broadwaybicycle.com") classes@broadwaybicycle.com
    div(class="col col-xs-12 col-sm-6 tr-sm")
      ul(class="")
        li 
          a(href="https://www.google.com/maps/place/Broadway+Bicycle+School/@42.3704856,-71.1056672,16.92z/data=!4m5!3m4!1s0x0:0x4363b979c482338e!8m2!3d42.3704722!4d-71.1035003") 351 Broadway,<br>Cambridge MA 02139
        li 
          a(href="tel:+16178683392") (617) 868–3392

      table(class="fr-sm mt1 table")
        include hours.pug
