div(class="main-nav") 
  a(href='http://broadway.bike' class="nav__svg")
    img(src="svg/svg_logo.svg")
  a(href='http://broadway.bike' class="nav__header accent-font") Broadway Bicycle
  nav(class="nav__list")
    ul
      li 
        a(href='services.html') Services
      li 
        a(href='classes.html') Classes
      li 
        a(href='sales.html') Sales & Rentals
      li 
        a(href='stand-rental.html') Stand Rental
      li 
        a(href='blog.html') Blog
  
div(class="main-nav-spacer")
