include head.pug

div(class="bg--fixed" style="background-image: url('images/class.jpg'); background-position: top")

section
  div(class="container")
    include blog_post_2.html
    include blog_post_1.html
  
  div(class="flex-row")
    p(class="column small-2")
      a(href="/blog">Newer Entries)
    p(class="column small-2 tr")
      a(href="/blog">Older Entries)

include footer.pug
