include partials/head.pug
<div class="bg--fixed" style="background-image: url('images/class.jpg'); background-position: top"></div>
<section>
  <div class="container">
    <h1>Upcoming Classes</h1>
  </div>
  <div class="flex-row">
    <div class="column small-2">
      <h2>Basic</h2>
      <ul class="list">
        <li>Wednesdays June 21–July 26</li>
        <li>Price: $190.00</li>
        <li>2 hour classes, 6:30–8:30pm.</li>
        <li>Available Spaces: X</li>
      </ul>
      <a href="#" class="btn hang--left">Register</a>
    </div>
    <div class="column small-2">
      <h2>Wheelbuilding<br><span class="h3 hang--left">(Women<i class="asterisk"></i> and non-binary)</span></h2>
      <ul class="list">
        <li>Mondays, June 26–July 24<i class="asterisk"></i></li>
        <li>Price: $190.00</li>
        <li>2 hour classes, 6:30–8:30pm.</li>
        <li>Available Spaces: X</li>
        <li class="footnote"><i class="asterisk--left"></i>No class on July 3rd</li>
      </ul>
      <a href="#" class="btn hang--left">Register</a>
    </div>
    <div class="column small-2">
      <h2>Wheelbuilding</h2>
      <ul class="list">
        <li>Mondays, June 26–July 24<i class="asterisk"></i></li>
        <li>Price: $190.00</li>
        <li>2 hour classes, 6:30–8:30pm.</li>
        <li>Available Spaces: X</li>
      </ul>
      <a href="#" class="btn hang--left">Register</a>
    </div>
</section>
<div class="bg--fixed" style="background-image: url('images/temp-wheel.jpg')"></div>
<section>
  <div class="container">
    <h1>Class &amp; Seminar Details</h1>
    <article id="basic">
      <h2>Basic Class</h2>
      <p>The Co-ed Basic Class is an introductory course intended for those with little or no bicycle mechanic experience. Each class lasts two hours and meets once per week for 6 weeks. The class is divided into lecture and hands-on learning where the student
        works on their own bicycle.</p>
      <p>Topics include</p>
      <ul class="list--indented">
        <li>Week 1 – Fixing a flat</li>
        <li>Week 2 – Front hub adjustment</li>
        <li>Week 3 – Brake Adjustment</li>
        <li>Week 4 – Sizing and replacing a chain</li>
        <li>Week 5 – Rear derailleur adjustment</li>
        <li>Week 6 – Wheel Truing</li>
      </ul>
    </article>

    <article id="wheelbuildilng">
      <h2>Wheelbuilding</h2>
      <p>Want to learn how to build your own wheel? The Wheelbuilding class takes you step by step through the process.</p>
      <p>Topics include</p>
      <ul class="list--indented">
        <li>Week 1 – Parts ordering and basic theory</li>
        <li>Week 2 – NO CLASS to allow time for parts to arrive</li>
        <li>Week 3 – Wheel lacing</li>
        <li>Week 4 – Wheel tensioning/truing</li>
        <li>Week 5 – Final tensioning and truing</li>
      </ul>
      <p class="footnote"><i class="asterisk--left"></i>There are <em>no</em> make-ups for the wheel building classes. Please check the dates carefully to make sure you can attend every class. We do not teach wheel building during our normal business hours.</p>
    </article>

    <article id="discbrake">
      <h2>Disc Brake Seminar</h2>
      <p>In this seminar we will go over both mechanical and hydraulic disc brake systems in detail</p>
      <p>Topics include</p>
      <ul class="list--indented">
        <li>General Maintenance and Upkeep</li>
        <li>Pad Replacement</li>
        <li>Rotor Replacement</li>
        <li>Caliper Adjustment</li>
        <li>Hydraulic Brake Bleed</li>
      </ul>
    </article>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h3">A few things to know about our classes</h2>
    <ul class="list">
      <li>Wear clothes that you don’t mind getting grease on.</li>
      <li>If you need to cancel your enrollment you must do so at least 2 weeks before the class starts for a refund. After that, no refund will be issued.</li>
    </ul>
  </div>
</section>

<div class="bg--fixed" style="background-image: url('images/temp-offsite.jpg')"></div>

<section>
  <div class="container">
    <h2>Women<i class="asterisk"></i> and Non-binary Classes</h2>
    <p>The Women<i class="asterisk"></i> &amp; Non-Binary classes are identical to the co-ed classes except that it is taught by women/transfolks/femme mechanics in an intentional environment meant to give space to people who want to learn bike mechanics
      and are not cismen.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Offsite Lessons</h2>
    <p>We also do off site work. Companies, events and organizations can hire us for events or on location trainings and/or tune-ups.</p>
    <a href="#" class="btn">Contact Us</a>
  </div>
</section>
include partials/footer.pug
