include head.pug

header(class="relative vh-header vh-header-bottom")
  div(class="absolute bg--fixed cover h100" style="background-image: url('images/class.jpg'); background-position: bottom;")
  div(class="absolute overlay light")
    h1(class="h2 visually-hidden") Classes

section(class="relative")
  div(class="row")
    div(class="col-xs-12 col-md-3 md-tr pr2")
      h2(class="h1 tilt-l") Upcoming <span class="db">Classes</span>
      
    div(class="col-xs-12 col-md-9 row")
      article(class="mt2 col-xs-12 col-sm-6 col-lg-4")
        h2(class="h2") Basic
        ul(class="")
          li Wednesdays June 21–July 26
          li Price: $190.00
          li 2 hour classes, 6:30–8:30pm.
          li Available Spaces: X
        a(href="#" class="mt1 btn tilt") Register
      article(class="mt2 col-xs-12 col-sm-6 col-lg-4 ")
        h2(class="h2") Wheelbuilding
        ul(class="")
          li Mondays, June 26–July 24*
          li Price: $190.00
          li 2 hour classes, 6:30–8:30pm.
          li Available Spaces: X
        a(href="#" class="mt1 btn tilt") Register    
      article(class="mt2 col-xs-12 col-sm-6 col-lg-4")
        h2(class="h2") Wheelbuilding (FTW)
        ul(class="")
          li Mondays, June 26–July 24*
          li Price: $190.00
          li 2 hour classes, 6:30–8:30pm.
          li Available Spaces: X
          li(class="footnote") *No class on July 3rd
        a(href="#" class="mt1 btn tilt") Register
      article(class="mt2 col-xs-12 col-sm-6 col-lg-4 ")
        h2(class="h2") Wheelbuilding
        ul(class="")
          li Mondays, June 26–July 24*
          li Price: $190.00
          li 2 hour classes, 6:30–8:30pm.
          li Available Spaces: X
        a(href="#" class="mt1 btn tilt") Register    

section(class="row section-margin")
  div(class="col-xs-12 col-sm-8")
    div(class="cover image1" style="background-image:url(images/tools.jpg);")

  div(class="col-xs-12 col-md-7")
    article(class="row mt2")
      div(class="col-xs-12 col-md-offset-3")
        h2(class="h1")
          <span class="tilt-r">Class </span> &amp; 
          <span class="tilt-l">Seminar Details</span> 
      
    article(class="row mt2" id="basic")
      div( class="col-xs-12 col-sm-3 md-tr pr1")      
        h2(class="h2") Basic <span class="tilt-r">Class </span> 
      div( class="col-xs-12 col-sm-8")      
        p The Co-ed Basic Class is an introductory course intended for those with little or no bicycle mechanic experience. Each class lasts two hours and meets once per week for 6 weeks. The class is divided into lecture and hands-on learning where the student works on their own bicycle.
        p Topics include
        ul(class="list--indented")
          li Week 1 – Fixing a flat
          li Week 2 – Front hub adjustment
          li Week 3 – Wheel Truing
          li Week 4 – Brake Adjustment
          li Week 5 – Sizing and replacing a chain
          li Week 6 – Rear derailleur adjustment
          

    article(class="row mt2" id="wheelbuildilng")
      //- div(class="cover col-xs-12 col-sm-9 col-sm-offset-3 image1 mt2 mb1" style="background-image:url(images/repair2.jpg);")
      div(class="col-xs-12 col-sm-3 md-tr pr1")      
        h2(class="h2 tilt-l") Wheel building
      div(class="col-xs-12 col-sm-8")      
        p Want to learn how to build your own wheel? The Wheelbuilding class takes you step by step through the process.
        p Topics include
        ul(class="list--indented")
          li Week 1 – Parts ordering and basic theory
          li Week 2 – NO CLASS to allow time for parts to arrive
          li Week 3 – Wheel lacing
          li Week 4 – Wheel tensioning/truing
          li Week 5 – Final tensioning and truing
    
        //- p(class="footnote") <i class="asterisk--left"</i>There are <em>no</em> make-ups for the wheel building classes. Please check the dates carefully to make sure you can attend every class. We do not teach wheel building during our normal business hours.
      
    //- div(class="cover col-xs-12 col-sm-9 col-sm-offset-3 image1 mt2 mb1" style="background-image:url(images/repair2.jpg);")
    
    article(class="row mt2" id="discbrake")
      div(class="col-xs-12 col-sm-3 md-tr pr1")      
        h2(class="h2") Disc Brake <span class="tilt-l">Seminar</span>
      div(class="col-xs-12 col-sm-8")      
        p In this seminar we will go over both mechanical and hydraulic disc brake systems in detail
        p Topics include
        ul(class="list--indented")
          li General Maintenance and Upkeep
          li Pad Replacement
          li Rotor Replacement
          li Caliper Adjustment
          li Hydraulic Brake Bleed
          
  div(class="col-xs-12 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-1")
    aside(class="pt2 pb2 col-sm-8 col-sm-offset-3 col-md-12")
      h1(class="h3") A few things to know about our classes
      p(class="") Wear clothes that you don’t mind getting grease on.
      p Wear closed-toe shoes.
      p You must bring your own bike to work on.
      p You must be 18 years of age or older to take our classes.
      p If you need to cancel your enrollment you must do so at least 2 weeks before the class starts for a refund. After that, no refund will be issued.
      p Completing our class series earns you 10% off parts and accessories at Broadway Bicycle <em class="accent-font">for life</em>!
    
    aside(class="pt2 pb2 col-sm-8 col-sm-offset-3 col-md-12")
      div(class="cover image2" style="background-image:url(images/class-women.jpg);")
      h1(class="h3 mt2") FTW Classes
      p(class="") FTW (femme/trans/women) classes are identical to the co-ed classes except that it is taught by women/transfolks/femme mechanics in an intentional environment meant to give space to people who want to learn bike mechanics and are not cismen.
        
    aside(class="pt2 pb2 col-sm-8 col-sm-offset-3 col-md-12")
      div(class="cover image2 mt2" style="background-image:url(images/class-offsite.jpg);")
      h1(class="h3 mt2") Offsite Lessons
      p(class="") We also do off site work—Companies, events and organizations can hire us for events or on location trainings and/or tune-ups.
      a(href="#" class="btn mt1") Contact Us

div(class="col-xs-12 section-margin")
include footer.pug
