include head

div(class="main-nav-spacer")

<!--[if IE]> 
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser to improve your experience.</p> 
<![endif]-->

header(class="relative header")
  div(class="row center-xs start-sm middle-sm center-sm" )
    div(class="col-xs-12 col-sm-6 col-lg-4 tc gutter mt2 logo")
      include ../build/svg/svg_logo.svg
    div(class="col-xs-12 col-sm-5 col-md-4 mt2 sm-tr gutter")
      p(class="h3") Worker Owned <nobr>Since 1972</nobr>
      ul(class="mt50")
        li
          a(href="mailto:broadway@broadwaybicycleschool.com") broadway@broadwaybicycleschool.com
        li
          a(href="https://www.google.com/maps/place/Broadway+Bicycle+School/@42.3704856,-71.1056672,16.92z/data=!4m5!3m4!1s0x0:0x4363b979c482338e!8m2!3d42.3704722!4d-71.1035003") 351 Broadway, Cambridge MA 02139
        li
          a(href="tel:+16178683392") (617) 868–3392
      table( class="center mt1 sm-tr sm-fr cl")
        include hours.pug


div(class="row mt3 md-mt6")
  div(class="col-xs-12 col-sm-10 col-md-6  col-lg-4 col-lg-offset-1 md-tr mb1 translate-pro gutter")
    h1(class="tilt-l") Professional <span class="h2"> Repairs, Builds, <nobr>& Tune–ups</nobr></span>
div(class="row")
  div(class="col-xs-12 col-sm-5 col-md-5")
    div(class="cover image1 bg-bottom" style="background-image: url(images/kate.jpg)")
    div(class="cover image1 bg-center mt1" style="background-image: url(images/repair-v.jpg)")

  div(class="col-xs-12 col-sm-7 col-md-6 col-lg-4 xs-mt1 gutter")
    p(class="") At Broadway, we take pride in our quality repairs. We fix bicycles expertly, from minor repairs, flats, and adjustments to package deals such as tune-ups and overhauls. We love what we do, so you can be sure that we’ll fix your bike better than anyone. All of our repairs go through a full double safety check. We always test ride your bike before we give it the thumbs up to make sure your bike is safe and performing as it should! 
    p No appointment necessary—just bring your bike in and we can give you a free estimate. You can leave the bike with us, or schedule a more convenient time.
    div(class="xs-tc")
      a(href="services.html" class="btn mt2 mb3") View Services
  



div(class="row section-margin")
  div(class="col-xs-12 col-md-7 col-md-offset-2 gutter")
    h1
      <span class="tilt-l">Classes & </span> 
      <span class="tilt-r">Seminars</span>
div(class="row mt1")
  div(class="pr2 col-xs-12 col-sm-6 col-md-5 col-md-offset-2 col-lg-4 gutter xs-mt1")
    p(class="") We love fixing bikes, and we’ve been sharing that love—and skills—in our classes for 30+ years. We host classes for all cyclists and the bikecurious, including classes and intentional spaces for FTW (femme, trans, women) bikers, such as our monthly <i>Grrrease Time</i>, an open shop and teaching time for FTW folks. Visit <a href="https://femmechanics.wordpress.com/">Boston's Femmechanics</a> website to learn more. 
    
    p Class Descriptions
    ul(class="list--indented")
      li
        a(href="/classes.html#basic") Basic Class
      li
        a(href="/classes.html#wheelbuilding") Wheelbuildling Class
      li
        a(href="/classes.html#discbrake") Disc Brake Seminar
    a(href="classes.html" class="btn mt2 ml05 mb3") Upcoming Classes

  div(class="col-xs-12 col-sm-6 col-md-5 pa0 first-xs last-sm")
    div(class="cover image1 bg-center" style="background-image: url(images/dien-and-kate-3.jpg)")
    


div(class="row section-margin")
  div(class="col-xs-12 col-md-9 col-md-offset-1")
  
    a(class="btn ml05 instagram" href="https://www.instagram.com/explore/locations/4417509/broadway-bicycle-school/")
      i(class="fa fa-instagram") 
      span(class="visually-hidden") instagram
      
    p(class="dib pl50") Follow Us
div(class="row mt1")
  div(class="col-xs-12 col-md-9 col-md-offset-1")
    div(class="row")
      div(class="col-xs-4 col-md-3 instagram-image")              
        div(class="cover square" style="background-image: url(images/insta1.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta2.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta3.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta4.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta5.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta6.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta7.jpg);")
      div(class="col-xs-4 col-md-3 instagram-image")
        div(class="cover square" style="background-image: url(images/insta8.jpg);")

section()    
  div(class="row mt3 midle")
    div(class="col-xs-12 col-md-3 col-md-offset-1 md-tr gutter")
      h1
        <span class="tilt-l md-db"> Worker</span>
        <span class="tirl-r"> Owned</span>
        <span class="tilt-r"> Since</span>
        <span class="tilt-r md-db"> 1972</span>
    div(class="col-xs-12 col-md-6 gutter")
      p We’re a worker owned cooperative in operation for 40+ years. To quote our friends at Equal Exchange, <blockquote class="mt50 pl1" cite="http://equalexchange.coop/"><p>“A worker cooperative is an alternative for-profit structure based upon standard democratic principles. It is not designed to maximize profits, nor returns to investors, but rather to bring to the workplace many of the rights and responsibilities that we hold as citizens in our communities. These principles include one-person/one-vote equality; open access to information (i.e., open-book management); free speech; and the equitable distribution of resources (such as income).”</p></blockquote> 
      p Because of this we adhere to the 7 Cooperative Principles which includes upholding worker rights and participating in our community for the better.We are proud to offer a minimum wage of $15 per hour and health insurance for full time workers. 
      p Walking into a bicycle shop for the first time can be an intimidating endeavor for many, which is why Broadway strives to create a welcoming environment for all persons that come through our door.

  div(class="row pa0 mt3 middle-xs")
    div(class="col-xs-12 col-sm-8 col-md-6 col-lg-5 col-md-offset-2 gutter")
      p <span class="h3">Broadway supports,</span> partners with, sponsors, and donates to local organizations and events including:
      ul(class="list--indented gutter")
        li Hosting monthly Femmechanics free open shop Grrrease Time to <abbr title="femme/trans/women">FTW</abbr> cyclists and offers 10% Discount to participants. 
        li U.S. Federation of Worker Cooperative
        li Greater Boston Chamber of Cooperatives
        li Boston Center for Community Ownership
        li Broadway’s Bike to Work Week Pancake Breakfast for Bay State Bike Week.
        li Bikes Not Bombs Bike-A-Thon
        li Boston Cyclist Union annual fundraiser.
        li MassBike annual silent auction.
        li Red Bones annual Bike Party raffle for MassBike and NEMBA 
        li 10% Discount to MassBike, Boston Cyclist Union and Charles River Wheelers members.  
        li Monthly discounts during Green Street Initiative Walk/Ride Days
        li 10% Discount to Brattle Theater members
        li Celebrating Gay Pride Week by hosting a bake sale with all proceeds going to Boston GLASS
    div(class="col-sm-3")
      div(class="cover image2 md-show" style="background-image: url(images/door.jpg)")
      div(class="cover image2 bg-center mt1 md-show" style="background-image: url(images/dogjar.jpg);")
      
  div(class="row mt3 center-xs")
    div(class="col-xs-4 col-sm-3 col-md-2")
      img(class="business-icon" alt="Buy Where You Ride" src="images/BWYR-Logo-Standard.png")
    div(class="col-xs-4 col-sm-3 col-md-2")
      img(class="business-icon" alt="Business for Fair Minimum Wage" src="images/fair-minimum-logo.png")
    div(class="col-xs-4 col-sm-3 col-md-2")
      img(class="business-icon" alt="United States Federation of Worker Cooperatives" src="images/usworkerlogo.png")

div(class="section-margin")
  div(class="cover col-md-8 image1 md-hide" style="background-image: url(images/frames.jpg)")

section(class="row mt2")
  div(class="col-xs-0 col-sm-2")
  div(class="col-xs-12 col-md-8 col-lg-5 gutter")
    h1() <span class="tilt-l">Latest News</span>
    include blog_post_1.html
    div(class="xs-tc")
      a(class="btn mt2" href="stand-rental.html") More Posts

div(class="col-xs-12 section-margin")

include footer.pug
