a(id="main-nav-open" class="menu-toggle fa fa-bars")
div(class="main-nav") 
  div(class="main-nav-bg")
  //- a(class="main-nav-logo" href='http://broadway.bike')
    //- include ../build/svg/svg_logo.svg
  a(id="main-nav-close" class="menu-toggle fa fa-window-close")
  nav()
    ul
      li 
        a(href='index.html' class="accent-font") Broadway Bicycle
      li 
        a(href='services.html') Services
      li 
        a(href='classes.html') Classes
      li 
        a(href='sales.html') Sales & Rentals
      li 
        a(href='stand-rental.html') Stand Rental
      li 
        a(href='blog.html') Blog
        
div(class="main-nav-spacer")
        
