div(class="main-nav") 
  //- a( href='http://broadway.bike' class="nav__svg")
  //-   img(class="main-nav-logo" src="svg/svg_logo.svg")
  nav(class="nav__list")
    ul
      li 
        a(href='index.html' class="h3 accent-font") Broadway Bicycle
      li 
        a(href='services.html') Services
      li 
        a(href='classes.html') Classes
      li 
        a(href='sales.html') Sales & Rentals
      li 
        a(href='stand-rental.html') Stand Rental
      li 
        a(href='blog.html') Blog
  
div(class="main-nav-spacer")
