include partials/head.pug

<div class="bg--fixed" style="background-image: url('images/class.jpg'); background-position: top"></div>

<section>
  <div class="container">
    <h1>Professional Repairs, Builds, &amp; Tune–ups</h1>
    <p>At Broadway, we take pride in our quality repairs. We fix bicycles expertly, from minor repairs, flats, and adjustments to package deals such as tune-ups and overhauls. We love what we do, so you can be sure that we’ll fix your bike better than anyone. All of our repairs go through a full double safety check. We always test ride your bike before we give it the thumbs up to make sure your bike is safe and performing as it should!</p>
    <p>No appointment necessary—just bring your bike in and we can give you a free estimate. You can leave the bike with us, or schedule a more convenient time.</p>
  </div>
  <div class="dark flex-row">
    <div class="column small-2 h3">
      <table>
        <tr>
          <td>Flat Fix</td>
          <td>$15</td>
        </tr>
        <tr>
          <td>Service 1</td>
          <td>$25</td>
        </tr>
        <tr>
          <td>Service 2</td>
          <td>$30</td>
        </tr>
        <tr>
          <td>Serivce 3</td>
          <td>$10</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <h2>Basic Tune-up $60</h2>
    <ul class="">
      <li>Grease the seatpost</li>
      <li>Grease the stem (if threaded)</li>
      <li>Remove and grease the pedal threads</li>
      <li>Check or adjust (if applicable) the bottom bracket bearing system </li>
      <li>Adjust the headset bearing system</li>
      <li>True front and rear wheels </li>
      <li>Adjust front and rear hubs </li>
    </ul>
    <h2>Advanced Tune-up $90</h2>
    <ul class="">
      <li>Grease the seatpost</li>
      <li>Grease the stem (if threaded)</li>
      <li>Remove and grease the pedal threads</li>
      <li>Check or adjust (if applicable) the bottom bracket bearing system </li>
      <li>Adjust the headset bearing system</li>
      <li>True front and rear wheels </li>
      <li>Adjust front and rear hubs </li>
    </ul>
  </div>
</section>

include partials/footer.pug
