$background: #ffffff;
$primary: #046B99;
$light: #B3EFFF;
$bright: #00CFFF;
$warning: #f3b137;
$header: darken(#046B99, 20%);
$dark: darken(#046B99, 24%);
$body: $dark;
$link: $primary;
$link-hover: $dark;
