$off-white: rgb(255, 255, 252);
$light-blue: #046B99;
/* ~~~~ */
$text-inverted: white;
$primary: $light-blue;
$warning: #f3b137;
$header: darken(#046B99, 20%);
$dark: darken(#046B99, 24%);
$text: $dark;
$link: $primary;
$link-hover: $dark;
$background: $off-white;
/* ~~~~ */
@import 'reset.scss';
@import 'flexboxgrid.scss';
@import 'fonts.scss';
@import 'typography.scss';
@import 'margin-padding.scss';
/* ~~~~ */
[hidden] {
  display: none;
}

.bg-red,
.bg-warning {
  background-color: $warning;
}

img {
  width: 100%;
}

.max-row {
  max-width: 80em;
  margin: 0 auto;
}

.align-center {
  justify-content: center;
}

body {
  font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $text;
  background-color: $background;
}

a {
  font-weight: bold;
  transition: all 100ms ease;
  text-decoration: none;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

td + td {
  padding-left: 1rem;
}

.business-icon {
  width: 90%;
  max-width: 144px;
}

.white {
  color: white;
}

.dark {
  color: $text-inverted;
  background: $dark;

  table {
    color: $text-inverted;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    color: $text-inverted;
  }

  a {
    color: $text-inverted;

    &:hover {
      color: $primary;
    }
  }

  .btn,
  .btn_event_form_submit,
  button {
    border: 1px solid $text-inverted;

    &:hover {
      color: $dark;
      border: 1px solid $text-inverted;
      background: $text-inverted;
    }
  }
}

button {
  background: none;
  border: 0;
}

input[type='submit'] {
  cursor: pointer;
}

.btn,
.btn_event_form_submit,
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: none;
  font-size: 1.5rem;
  font-family: 'plaza_d_otultra', Trebuchet MS, Verdana, Helvetica, sans-serif;
  line-height: 1.1;
  letter-spacing: 1px;
  border-radius: 0.25em;
  border: 2px solid $header;
  color: $header;

  &:hover {
    border-color: $header;
    background-color: $header;
    color: white;
  }
}

.instagram-image {
  padding: 0.5rem;
}

em {
  font-style: italic;
}

.list--indented {
  line-height: 2;
  margin-top: 0.25rem;
  padding-left: 2rem;
  list-style: circle;
}

.social-links {
  li {
    display: inline-block;
    margin-top: 6px;
  }
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.image-tall {
  height: 32em;
}

.image1 {
  height: 22em;
}

.image2 {
  height: 16em;
}

.image3 {
  height: 12em;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0.5rem;
}

p + p,
ul + p {
  margin-top: 1rem;
}

blockquote p {
  font-style: italic;
}

.pa-grid {
  padding: 1rem 1.5rem;
}

.square {
  padding-bottom: 100%;
}

.tilt-r {
  display: inline-block;
  transform: rotate(1deg);
}

.tilt-l {
  display: inline-block;
  transform: rotate(-1deg);
}

.vh-header {
  height: 22em;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
}

.absolute {
  position: absolute;
  top: 0;
}

.relative {
  position: relative;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fr {
  float: right;
}

.bold {
  font-weight: bold;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);

  &.light {
    // background: linear-gradient(0, white, rgba(255,255,255,0.) );
  }
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.bg--fixed {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  background-size: cover;
}

.center {
  margin: 0 auto;
}

.logo {
  max-height: 200px;
}

.cls-1 {
  fill: $header;
}

.first-aside {
  margin-top: 2rem;
}

.section-margin {
  margin-top: 3rem;
}

.blog {
  img {
    margin-top: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
  }

  ul {
    line-height: 2;
    margin-top: 2rem;
    padding-left: 2rem;
    list-style: circle;
  }
}

.bg-top {
  background-position: top;
}

.bg-left {
  background-position: left;
}

.bg-center {
  background-position: 50%;
}

.bg-bottom {
  background-position: bottom;
}

.bg-right {
  background-position: right;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1rem;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}
//xs only
@media screen and (max-width: 41.9em) {
  .xs-only-tc {
    text-align: center;
  }

  .gutter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .xs-only-center {
    margin-left: auto;
    margin-right: auto;
  }
}
//sm
@media (--sm-viewport) {
  .sm-db {
    display: block;
  }

  .sm-mt0 {
    margin-top: 0;
  }

  .sm-show {
    display: none;
  }

  .sm-fr {
    float: right;
  }

  .sm-tr {
    text-align: right;
  }

  .sm-tc {
    text-align: center;
  }

  .logo {
    max-height: 400px;
  }
}
@media screen and (max-width: 59.9em) {
  .instagram-image:nth-child(n+7) {
    display: none;
  }

  .md-show {
    display: none;
  }

  .main-nav-bg {
    position: absolute;
    background: $primary;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh);
    transition: all 200ms ease;
  }

  .main-nav {
    // display: none;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    text-align: center;
    transition: all 250ms ease;

    li {
      font-size: 32px;
    }

    a {
      color: white;

      &:hover {
        color: $header;
      }
    }

    nav {
      color: white;
      margin-top: 50vh;
      transform: translateY(-30vh);
    }

    li {
      transition: transform 250ms ease, opacity 250ms;
      opacity: 0;
      transform: translateY(10vh);
    }
    $gap: 50ms;

    li:nth-child(2) {
      transition-delay: $gap * 2;
    }

    li:nth-child(3) {
      transition-delay: $gap * 3;
    }

    li:nth-child(4) {
      transition-delay: $gap * 4;
    }

    li:nth-child(5) {
      transition-delay: $gap * 5;
    }

    li:nth-child(6) {
      transition-delay: $gap * 6;
    }
  }

  .main-nav.visible {
    opacity: 1;
    pointer-events: auto;

    li {
      opacity: 1;
      transform: translateY(0);
    }

    .main-nav-bg {
      transform: translateY(0);
    }
    // display: block;
  }

  .menu-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 99;
    font-size: 36px;
    color: $header;

    &:hover {
      color: $primary;
    }
  }
}

.main-nav-spacer {
  display: block;
  height: 60px;
}
@media (--md-viewport) {
  .vh-header {
    height: 42em;
  }

  .md-fr {
    float: right;
  }

  .md-db {
    display: block;
  }

  .first-aside {
    margin-top: 8rem;
  }

  .md-hide {
    display: none;
  }

  .section-margin {
    margin-top: 6rem;
  }

  .md-tr {
    text-align: right;
  }

  .translate-pro {
    transform: translate(4rem,0);
  }

  .menu-toggle {
    display: none;
  }

  .main-nav {
    display: block;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 100%;
    transition: transform 150ms ease;
    background-color: rgba(255,255,255,0.95);

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 0 1rem;
    }
  }

  .main-nav-spacer {
    height: 80px;
  }

  .md-mt0 {
    margin-top: 0;
  }

  .instagram-image:nth-child(n+9) {
    display: none;
  }

  .bulletin {
    margin-bottom: -154px;
  }
}
//max large
@media screen and (max-width: 79.9em) {
  .lg-show {
    display: none;
  }
}
@media (--lg-viewport) {
  .bulletin {
    margin-top: -72px;
    margin-bottom: -154px;
    transform: translateX(140px);
  }

  .lg-tr {
    text-align: right;
  }

  .lg-image-tall {
    height: 32em;
  }

  .lg-image1 {
    height: 22em;
  }

  .lg-image2 {
    height: 16em;
  }

  .lg-image3 {
    height: 12em;
  }

  .lg-mt0 {
    margin-top: 0;
  }
}
