@import 'reset.scss';
@import 'flexboxgrid.scss';
@import 'fonts.scss'; // @import 'tachyons.min.css';

$background: #ffffff;
$primary: #046B99;
$light: #B3EFFF;
$bright: #00CFFF;
$warning: #f3b137;
$header: darken(#046B99, 20%);
$dark: darken(#046B99, 24%);
$body: $dark;
$link: $primary;
$link-hover: $dark;
@import 'typography.scss';

body {
  font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2;
  color: $body;
  background-color: $background;
}

a {
  font-weight: bold;
  transition: all 150ms ease;
  text-decoration: none;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

td + td {
  padding-left: 1rem;
}

.business-icon {
  width: 144px;
}

.white {
  color: white;
}

.dark {
  color: white;
  background: $dark;

  table {
    color: white;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    color: white;
  }

  a {
    color: white;

    &:hover {
      color: $bright;
    }
  }

  .btn {
    border: 1px solid white;

    &:hover {
      color: $dark;
      border: 1px solid white;
      background: white;
    }
  }
}

.bg-header {
  background-color: $header;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  border: 2px solid $header;
  color: $header;

  &:hover {
    border-color: $header;
    background-color: $header;
    color: white;
  }
}

.instagram-image {
  padding: 0.5rem;
}

em {
  font-style: italic;
}

.list--indented {
  line-height: 2;
  margin-top: 0.25rem;
  padding-left: 2rem;
  list-style: circle;
}

footer {
  padding-bottom: 3rem;
}

.social-links {
  li {
    display: inline-block;
    margin-top: 6px;
  }
}

.cover {
  background-repeat: no-repeat;
  // background-position: left;
  background-size: cover;
}

.image-tall {
  height: 32em;
}

.image1 {
  height: 22em;
}

.image2 {
  height: 16em;
}

.image3 {
  height: 12em;
}

.text-col {
  padding-left: 1rem;
  padding-right: 1rem;
}

p + p {
  margin-top: 1rem;
}

.square {
  padding-bottom: 100%;
}

.tilt-r {
  display: inline-block;
  transform: rotate(1deg);
}

.tilt-l {
  display: inline-block;
  transform: rotate(-1deg);
}

.vh-header {
  height: 42em;

  .row {
    padding-top: 8em;
  }
}

.vh-header-bottom {
  margin-bottom: -34em;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
}

.absolute {
  position: absolute;
  top: 0;
}

.relative {
  position: relative;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fr {
  float: right;
}

.ml05 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.mt1-xs {
  margin-top: 2rem;
}

.pl50 {
  padding-left: 0.5rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt6 {
  margin-top: 6rem;
}

.ml1 {
  margin-left: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.pa2 {
  padding: 2rem;
}

.pb0 {
  padding-bottom: 0 !important;
}

.ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0 !important;
}

.show-lg,
.show-md,
.show-sm {
  display: none;
}

.alert {
  padding: 1rem;

  p {
    font-size: 18px;
    color: white;
  }
  background-color: $warning;
}


.bold {
  font-weight: bold;
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);

  &.light {
    background-color: rgba(255,255,255,0.9);
  }
}

.main-nav {
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  transition: transform 150ms ease;
  background-color: rgba(255,255,255,0.95);

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 1rem;
  }
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.bg--fixed {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 0;
  background-size: cover;
}

.upcoming-class {}

.center {
  margin: 0 auto;
}

.logo {
  height: 400px;
  float: right;
  fill: $header;
}

.bg-light {
  background-color: $light;
}

.first-aside {
  margin-top: 2rem;
}

.section-margin {
  margin-top: 3rem;
}
@media screen and (max-width: 80em) {
  .instagram-image:nth-child(n+7) {
    display: none;
  }
}
@media (--sm-viewport) {
  .fr-sm {
    float: right;
  }

  .tr-sm {
    text-align: right;
  }

  .tc-sm {
    text-align: center;
  }

  .show-sm {
    display: flex;
  }
}
@media (--md-viewport) {
  .first-aside {
    margin-top: 8rem;
  }

  .hide-md {
    display: none;
  }

  .section-margin {
    margin-top: 6rem;
  }

  .mt1-xs {
    margin-top: 0;
  }

  .tr-md {
    text-align: right;
  }

  .show-md {
    display: flex;
  }

  .translate-pro {
    transform: translate( 4rem,0);
  }
}
@media (--lg-viewport) {
  .tr-lg {
    text-align: right;
  }

  .show-lg {
    display: flex;
  }

  .instagram-image:nth-child(n+9) {
    display: none;
  }
}
